<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="getLoginStatus" value="http://3ds.pokemon-gl.com/frontendApi/getLoginStatus" />
    <add key="getSeason" value="http://3ds.pokemon-gl.com/frontendApi/gbu/getSeason" />
    <add key="getSeasonPokemon" value="http://3ds.pokemon-gl.com/frontendApi/gbu/getSeasonPokemon" />
    <add key="getSeasonPokemonDetail" value="http://3ds.pokemon-gl.com/frontendApi/gbu/getSeasonPokemonDetail" />
    <add key="referer" value="http://3ds.pokemon-gl.com/battle/" />
    <add key="ContentType" value="application/x-www-form-urlencoded" />
    <add key="PostDataGetSeason" value="languageId=2&amp;generationId=" />
    <add key="PostDataLogin" value="languageId=2&amp;timezone=Europe/London" />
    <add key="Generation1" value="xy" />
    <add key="Generation2" value="oras" />
    <add key="MostRecentFile1" value="Data/xy/xy-14-20160120-000053.mdb" />
    <add key="MostRecentFile2" value="Data/oras/oras-14-20160120-000023.mdb" />
    <add key="DefaultGeneration" value="1" />
    <add key="DefaultBattleType" value="1" />
    <add key="checkUpdate" value="1" />
    <add key="timezone" value="JST" />
    <add key="viewOptions" value="single" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>