<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GetLoginStatus" value="http://3ds.pokemon-gl.com/frontendApi/getLoginStatus" />
    <add key="GetSeason" value="http://3ds.pokemon-gl.com/frontendApi/gbu/getSeason" />
    <add key="GetSeasonPokemon" value="http://3ds.pokemon-gl.com/frontendApi/gbu/getSeasonPokemon" />
    <add key="GetSeasonPokemonDetail" value="http://3ds.pokemon-gl.com/frontendApi/gbu/getSeasonPokemonDetail" />
    <add key="Referer" value="http://3ds.pokemon-gl.com/battle/" />
    <add key="ContentType" value="application/x-www-form-urlencoded" />
    <add key="PostDataGetSeason" value="languageId=2&amp;generationId=" />
    <add key="PostDataLogin" value="languageId=2&amp;timezone=Europe/London" />
    <add key="Generation1" value="xy" />
    <add key="Generation2" value="oras" />
    <add key="MostRecentFile1" value="Data/xy/xy-14-20160309-000053.mdb" />
    <add key="MostRecentFile2" value="Data/oras/oras-14-20160309-000024.mdb" />
    <add key="DefaultGeneration" value="1" />
    <add key="DefaultBattleType" value="1" />
    <add key="CheckUpdate" value="1" />
    <add key="Timezone" value="JST" />
    <add key="ViewOptions" value="single" />
    <add key="AppVersion" value="v1.3" />
    <add key="MaxSpeed" value="180" />
    <add key="DefineAttack" value="120" />
    <add key="DefineSpecialAttack" value="120" />
    <add key="DefinePhysicalShield" value="10000" />
    <add key="DefineSpecialShield" value="10000" />
    <add key="ExtremeSpeedRateLow" value="25" />
    <add key="ExtremeSpeedRateHigh" value="50" />
    <add key="ExtremeSpeedRateVeryHigh" value="75" />
    <add key="ApparentRankingChange" value="10" />
    <add key="ApparentUsageRateChange" value="10" />
    <add key="para-single" value="0.9" />
    <add key="para-double" value="0.7" />
    <add key="para-triple" value="0.5" />
    <add key="para-rotation" value="0.7" />
    <add key="para-special" value="0.7" />
    <add key="Gene1SpecialPara" value="3" />
    <add key="Gene2SpecialPara" value="4" />
    <add key="AncientPokes" value="150,249,250,382,383,384,483,484,487,643,644,646,716,717,718" />
    <add key="MegaStones" value="Venusaurite,Charizardite X,Charizardite Y,Blastoisinite,Beedrillite,Pidgeotite,Alakazite,Slowbronite,Gengarite,Kangaskhanite,Pinsirite,Gyaradosite,Aerodactylite,Mewtwonite X,Mewtwonite Y,Ampharosite,Steelixite,Scizorite,Heracronite,Houndoomite,Tyranitarite,Sceptilite,Blazikenite,Swampertite,Gardevoirite,Sablenite,Mawilite,Aggronite,Medichamite,Manectite,Sharpedonite,Cameruptite,Altarianite,Banettite,Absolite,Glalitite,Salamencite,Metagrossite,Latiasite,Latiosite,Lopunnite,Lucarionite,Garchompite,Abomasite,Galladite,Audinite,Diancite" />
    <add key="PopularThreshold" value="200" />
    <add key="RegisteredVersion" value="v0.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>